@font-face { /*  Adding Arial font for mobile devices */
  font-family: 'ArialBlack-';
  src: url('arial-black.woff') format('woff'), /* Modern Browsers */
       url('arial-black.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@keyframes fadeIn {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}

@keyframes arrowDown {
  0%{
    transform: translate(-50%, 0);
  }
  50%{
    transform: translate(-50%, -7px);
  }
  55%{
    transform: translate(-50%, -7px);
  }
  100%{
    transform: translate(-50%, 0);
  }
}

body{
  background: rgb(40, 50, 53);
}

html {
  scroll-behavior: smooth;
 }

/* LANGUAGE CHANGE */
/* .langWrap{
  background: whitesmoke;
  width: 100px;
  height: 30px;
}

.langSelector option{
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  padding: 0 15px;
  font-weight: bold;
  background: #555656;
  font-size: 18px;
} */

.langSelector{
  background-color: rgba(255, 255, 255, 0.87);
  border-radius: 5%;
  border: 1px solid blue;
  top: 20px;
  right: 20px;
  position: absolute;
  font-size: 20px;
  width: fit-content;
  /* height: 40px; */
}

.langSelector option{
  background-color: white;
}

.langSelector:hover{
  border: 1px solid lime;
}

.content{
  width: 100vw;
  font-size: 2rem;
}

.container_1{
  background-image: url("main_img.jpg");
  background-position-x: center;
  height: 100vh;
  width: 100vw;
  /* border: 1px solid red; */
}

.title{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 7rem;
  font-family:'ArialBlack-', sans-serif;
  color: rgb(230, 155, 17);
  text-shadow: 0.2rem 0.2rem black;
  text-align: center;
  /* border: 1px solid red; */
  width: 50vw;

  animation: fadeIn 2.5s ease-in;
}

.arrow_container{
  /* position:absolute; */
  /* border: 1px solid red; */
  animation: fadeIn 7s ease-in;
}

.arrow{
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width: 7rem;
  /* -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%); */

  animation: arrowDown 1.7s infinite ease;
}

.arrow:hover{
  filter: invert(100%);
}
/* 
.main_img{
  width: 60vw;
  margin-left: 20%; */
  /* position: absolute; */
  /* top: 0; */
  /* left: 0; */
  /* margin-top: 20px; */
  /* width: 100vw; */
  /* height: 100vh; */
  /* z-index: -1; */
  /* margin-left: 20%; */
/* } */

.container_2{
  height: 100vh;
  /* border: 1px solid orange; */
}

.description{
  /* text-align: center; */
  /* vertical-align: middle; */
  /* line-height: 90px;  */
  /* position: absolute;
  top: 150%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 70vw;
  height: min-content; */
  /* border: 1px solid blue; */
  /* margin-top: 20px; */
  
  margin: auto;
  margin-top: 60px;
  text-align: center;
  width: 60vw;
  /* font-size: 2.7rem; */
  font-size: 3vw;
  color: whitesmoke;
}

.subtitle{
  color: orange;
  margin-top: 30px;
  text-align: center;
  font-size: 4rem;
  text-decoration: underline;
}

@media (max-width: 1200px) { /* optimize for mobile */

  .description{
    width: 80vw;
    margin-top: 30px;
    font-size: 4vw;
  }
}

@media (max-width: 800px) { /* optimize for mobile */
  .title{
    width: 100vw;
    font-size: 3rem;
  }

  .description{
    width: 80vw;
    margin-top: 30px;
    font-size: 5vw;
  }
}

@media (max-width: 450px) { /* optimize for mobile */
  .title{
    width: 100vw;
    font-size: 3rem;
  }

  .description{
    width: 80vw;
    margin-top: 30px;
    font-size: 7vw;
  }
}