@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');
/* font-family: 'Source Sans Pro', sans-serif; */

@font-face { /*  Adding Arial font for mobile devices */
  font-family: 'ArialBlack-';
  src: url('arial-black.woff') format('woff'), /* Modern Browsers */
       url('arial-black.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@keyframes fadeIn {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}

@keyframes arrowDown {
  0%{
    transform: translate(-50%, 0);
  }
  50%{
    transform: translate(-50%, -7px);
  }
  55%{
    transform: translate(-50%, -7px);
  }
  100%{
    transform: translate(-50%, 0);
  }
}

body{
  background: #0057b7;
}

html {
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
 }

/* LANGUAGE CHANGE */
/* .langWrap{
  background: whitesmoke;
  width: 100px;
  height: 30px;
}

.langSelector option{
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  padding: 0 15px;
  font-weight: bold;
  background: #555656;
  font-size: 18px;
} */


/* .langSelector{
  background: linear-gradient(90deg,#0ba5ff,#6ebae6);
  color: #ffd700;
  border-radius: 25% 10%;
  top: 20px;
  right: 20px;
  position: absolute;
  font-size: 25px;
  width: fit-content;
  font-family: 'Source Sans Pro', sans-serif;
} */


/* .langSelector option{
  border-radius: 25% 10%;
  background-color: #96cef3;
  color: rgb(0, 0, 0);
}

.langSelector:hover{
  border: 1px solid rgb(0, 247, 255);
  box-shadow: 0 6px 11px 0 rgb(11 165 255 / 20%);
} */

.container_1{
  background-image: url("main_img.jpg");
  background-position-y: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  /* border: 1px solid blue; */
}

.title{
  font-family: "Fira Sans", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 12em;
  font-weight: 600;
  /* font-family:'ArialBlack-', sans-serif; */
  color: #FFF8DC; 
  /* text-shadow: ; */
  text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000, 10px 10px #DAA520;
  text-align: center;
  /* border: 1px solid red; */
  /* width: 50vw; */

  animation: fadeIn 2.5s ease-in;
}

.arrow_container{
  /* position:absolute; */
  /* border: 1px solid red; */
  animation: fadeIn 7s ease-in;
}

.arrow{
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width: 7rem;
  -webkit-filter: drop-shadow(4px 0px 0px rgb(255, 196, 0));
    filter: drop-shadow(4px 0px 0px rgb(255, 208, 0));
  /* -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%); */

  animation: arrowDown 1.7s infinite ease;
}

.arrow:hover{
  filter: invert(100%);
}

.container_2{
  height: 100vh;
  display: flex;
  padding: 20px;
  flex-direction: column;
  background-color: black;
  /* background-color: #0057b7; */
  /* border: 1px solid yellow; */
  /* background-image: linear-gradient(147deg, #0057b7 0%, #ffd700 74%); */
}

.subtitle{
  font-family: "Fira Sans", sans-serif;
  color: #DAA520;
  /* margin-top: 30px; */
  text-align: center;
  font-size: 4em;
  text-decoration: underline;
  /* margin-top: 20px; */
  /* border: 1px solid blue; */
}

.description{
  flex: 1 1 auto;
  margin: auto;
  margin-top: 40px;
  text-align: center;
  font-family: "Fira Sans", sans-serif;
  /* width: 70vw; */
  /* height: max-content; */
  font-size: 5vw;
  color: #FFF8DC;
  /* border: 1px solid red; */
}

.description p {
  margin-top: 40px;
}

.container_3{
  background-color: #FFE53B;
  /* background-image: linear-gradient(147deg, #ffd700 0%, #fd3838 74%); */
  background-image: linear-gradient(147deg, #FFF8DC  0%, #DAA520 74%);
  padding: 50px;
}

.org_box{
  margin: auto;
  margin-top: 200px;
  /* height: 60vh; */
  display: flex;
  flex-direction: row;
  width: 60vw;
  height: 30vw;
  border-radius: 25px;
  background-color: white;
  font-family: "Fira Sans", sans-serif;
  padding: 40px;
  /* background: linear-gradient(90deg, #0ba5ff,#6ebae6);
  border-color: linear-gradient(90deg, #0ba5ff,#6ebae6); */
  /* margin-top: 40px; */
}

/* .org_box .wrap{
  position: relative;
  top: 12.5%;
  width: 100%;
  height: 75%;
  border: 1px solid salmon;
} */
.org_img{
  position: relative;
  /* top: -30vw; */
  left: -10vw;
  width: 30vw;
  height: 30vw;
  /* background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%); */
  background-image: url(hope_img_1.jpg);
  background-position-x: -15px;
  background-size: cover;
  border-radius: 20px;
}

.img_layer{
  width: 100%;
  height: 100%;
  /* background-image: linear-gradient(147deg, #DAA520 0%, #DAA520 74%); */
  border-radius: 20px;
  /* box-shadow: 4px 13px 30px 1px black; */
  opacity: 0.9;
}

.org_info{
  text-align: left;
  /* position: relative; */
   display: flex;
  flex-direction: column;
  /* justify-content: space-between;  */
  /* border: 1px solid lime; */
  /* top: -30vw; */
  /* width: 80%; */
  height: 80%;
  width: 50%;
  /* border: 1px solid blue; */
  margin: auto;
  margin-left: -5vw;
}

.org_title{
  font-size: 40px;
  /* margin-top: 20px; */
  font-weight: 700;
  /* border: 1px solid orange; */
}

.org_description{
  margin: auto;
  /* margin-top: 40px; */
  line-height: 1.5em;
  max-height: 50%;
  font-size: 20px;
  color: #4e4a67;
  /* border: 1px solid salmon; */
  /* width: 80%; */
}

.org_donate{
  display: inline-flex;
  width: max-content;
  /* margin: auto; */
  /* margin-top: 40px; */
  padding: 15px 35px;
  background-image: linear-gradient(147deg, #1E90FF 0%, #1E90FF 74%);
  border-radius: 50px;
  font-size: 30px;
  letter-spacing: 1px;
  color: #fff;
  font-weight: 500;
}

.footer{
  background-color: black;
  padding: 50px;
  /* height: 10vh; */
}

.contact{
  color:white;
  float: right;
  font-family: "Fira Sans", sans-serif;
}

@media (max-width: 550px){
  .org_box{
    margin: auto;
    margin-top: 200px;
    /* height: 60vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80vw;
    height: auto;
    border-radius: 25px;
    background-color: white;
    font-family: "Fira Sans", sans-serif;
    padding: 0px;
    padding-bottom: 20px;
    /* background: linear-gradient(90deg, #0ba5ff,#6ebae6);
    border-color: linear-gradient(90deg, #0ba5ff,#6ebae6); */
    /* margin-top: 40px; */
  }
  
  .org_img{
    position: relative;
    top: -30vw;
    left: 10vw;
    width: 60vw;
    height: 70vw;
    /* background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%); */
    background-image: url(hope_img_1.jpg);
    background-position-x: -15px;
    background-size: cover;
    border-radius: 20px;
  }
  
  .org_info{
    text-align: center;
    /* position: relative; */
    /* display: flex; */
    /* flex-direction: column; */
    /* border: 1px solid lime; */
    /* top: -30vw; */
    width: 80%;
    margin: auto;
    margin-top: -30vw;
  }
  
  .org_title{
    font-size: 30px;
    margin-top: 20px;
    font-weight: 700;
  }
  
  .org_description{
    margin:0;
    margin-top: 20px;
    line-height: 1;
    /* min-height: 50%; */
    max-height: 100%;
    min-height: 90%;
    height: 90%;
    /* height: auto; */

    /* font-size: 10px; */
    color: #4e4a67;
    /* border:1px solid pink; */

  }
  
  .org_donate{
    display: inline-flex;
    width: max-content;
    margin: auto;
    margin-top: 40px;
    padding: 15px 35px;
    background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
    border-radius: 50px;
    letter-spacing: 1px;
    color: #fff;
    font-weight: 500;
  }
}

/* optimize for mobile */
/* @media (max-width: 1200px) {
  .arrow{
    width: 5rem;
    -webkit-filter: drop-shadow(2px 0px 0px rgb(255, 196, 0));
    filter: drop-shadow(2px 0px 0px rgb(255, 208, 0));
  } 

  .description{
    width: 80vw;
    margin-top: 30px;
    font-size: 4vw;
  }
} */

/* optimize for smaller mobile */
/* @media (max-width: 800px) { 
  .title{
    width: 100vw;
    font-size: 3rem;
  }

  .description{
    width: 80vw;
    margin-top: 30px;
    font-size: 5vw;
  }
} */

/* optimize for nokia mobile */
/* @media (max-width: 450px) { 
  .title{
    width: 80vw;
    font-size: 1em;
  }

  .description{
    width: 80vw;
    margin-top: 30px;
    font-size: 7vw;
  }
} */